* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.photoContainer {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

#photoReplacement1 {
  width: 340px;
  height: 520px;
  border: 2px solid black;
  background-color: darkgray;
  margin: 10px auto;
}

h1 {
  width: min-content;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

svg {
  width: 40px;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 2.5rem;
}

.projectCards {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.project {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.screenshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 4rem;
  padding: 30px;
  color: white;
}

.purple {
  background-color: rgb(138, 98, 156);
}

.orange {
  background-color: orange;
}

.green {
  background-color: rgb(38, 119, 38);
}

.magenta {
  background-color: rgb(175, 98, 162);
}

.blue {
  background-color: rgb(41, 133, 194);
}

.red {
  background-color: rgb(179, 71, 71);
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 200px;
  padding: 20px;
}

.info a {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info a:link,
.info a:visited {
  color: black;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icons svg {
  width: 30px;
}

.info p {
  font-size: 1.7rem;
  color: rgb(77, 77, 77);
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: lightskyblue;
  color: white;
}

.imageReplacement2 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.imageReplacement2,
#photoReplacement1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
